footer#footer
  .container
    .qrcode
      img(src="/wp-content/themes/tonglu/img/qrcode.png")

    .info
      p.phone 400-123-1233
      p.hint 全国统一服务热线(工作日6:00-24:00)
      p 地址：成都市锦江区新光华街7号航天科技大厦4301
      p Email：www.baidu.com
      .links {{{links}}}

    .logo
      img(src="/wp-content/themes/tonglu/img/logo-white.png")

script(
  src="//cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js",
  crossorigin="anonymous",
)
script(
  src="//cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js",
  crossorigin="anonymous",
)
script(
  src="//cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js",
  crossorigin="anonymous",
)
<!--{{{wp_footer}}}-->
