footer#footer
  .container
    .qrcode
      img(src="../../img/qrcode.png")

    .info
      p.phone 400-123-1233
      p.hint 全国统一服务热线(工作日6:00-24:00)
      p 地址：成都市锦江区新光华街7号航天科技大厦4301
      p Email：www.baidu.com
      p 友情链接：17汽车网  蚂蜂窝旅游指南  武汉房产网  安居客  洪三板

    .logo
      img(src="../../img/logo-white.png")

script(
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",
  crossorigin="anonymous",
)
script(
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js",
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49",
  crossorigin="anonymous",
)
script(
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js",
  integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T",
  crossorigin="anonymous",
)
