footer#footer
  .container
    .qrcode
      img(src="/wp-content/themes/tonglu/img/qrcode.png")

    .info
      p.phone.text-center.text-sm-left.mb-3.mb-sm-0 400-770-2178
      p 地址：北京市朝阳区郎园 Vintage 三号楼
      p.mb-3.mb-sm-0 Email：service@tongluyoujia.com
      .links
        ul.text-center.text-sm-left
          <!--{{#links}}-->
          li
            a(href="{{url}}") {{title}}
          <!--{{/links}}-->
      p.text-center.text-sm-left 京ICP备18038140号

    .logo
      img(src="/wp-content/themes/tonglu/img/logo-white.png")

link(
  rel="stylesheet"
  href="//use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous"
)
script(
  src="//unpkg.com/jquery@3.3.1/dist/jquery.slim.min.js",
  crossorigin="anonymous",
)
script(
  src="//unpkg.com/popper.js@1.14.4/dist/umd/popper.min.js",
  crossorigin="anonymous",
)
script(
  src="//unpkg.com/bootstrap@4.1.3/dist/js/bootstrap.min.js",
  crossorigin="anonymous",
)
script(
  src="//unpkg.com/swiper@4.4.1/dist/js/swiper.min.js",
  crossorigin="anonymous",
)
<!--{{{wp_footer}}}-->
