footer#footer
  .container
    .qrcode
      img(src="/wp-content/themes/tonglu/img/qrcode.png")

    .info
      p.phone.text-center.text-sm-left 400-770-2178
      p 地址：北京市朝阳区郎园 Vintage 三号楼
      p Email：service@tongluyoujia.com
      .links
        ul.text-center.text-sm-left
          <!--{{#links}}-->
          li
            a(href="{{url}}") {{title}}
          <!--{{/links}}-->
      p.text-center.text-sm-left 京ICP备18038140号

    .logo
      img(src="/wp-content/themes/tonglu/img/logo-white.png")

script(
  src="//cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js",
  crossorigin="anonymous",
)
script(
  src="//cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js",
  crossorigin="anonymous",
)
script(
  src="//cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js",
  crossorigin="anonymous",
)
script(
  src="//cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js",
  crossorigin="anonymous",
)
<!--{{{wp_footer}}}-->
