doctype html
html(lang="zh-cmn-Hans")
  head
    meta(charset="UTF-8")
    title #{title}
    meta(name="keywords", content="#{keywords}")
    meta(name="description", content="#{description}")
    meta(name="author", content="Meathill, meathill@gmail.com")

    meta(name="renderer", content="webkit")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(http-equiv="Cache-Control", content="no-siteapp")
    meta(name="viewport", content="initial-scale=1, user-scalable=no")
    meta(name="format-detection", content="telephone=no")
    meta(name="screen-orientation", content="portrait")
    meta(name="google", value="notranslate")

    link(rel="shortcut icon", type="image/png", href="/wp-content/themes/tonglu/img/favicon.png")
    link(rel="stylesheet", href="/wp-content/themes/tonglu/ui-src/node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/wp-content/themes/tonglu/style.css")

  body

    header#header.container
      nav.navbar.navbar-expand-lg.navbar-light
        a.navbar-brand 通路有家
        button.navbar-toggler(
          type="button",
          data-toggle="collapse",
          data-target="#navbar",
          aria-controls="#navbar",
          aria-expanded="false",
          aria-label="展开",
        )
          span.navbar-toggler-icon