- var base = "/wp-content/themes/tonglu";
- var ui = base + '/ui-src';

doctype html
html(lang="zh-cmn-Hans")
  head
    meta(charset="UTF-8")
    title {{title}}
    meta(name="keywords", content="{{keywords}}")
    meta(name="description", content="{{description}}")
    meta(name="author", content="Meathill, meathill@gmail.com")

    meta(name="renderer", content="webkit")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(http-equiv="Cache-Control", content="no-siteapp")
    meta(name="viewport", content="initial-scale=1, user-scalable=no")
    meta(name="format-detection", content="telephone=no")
    meta(name="screen-orientation", content="portrait")
    meta(name="google", value="notranslate")

    <!-- wp_head -->
    link(rel="shortcut icon", type="image/png", href=base + "/img/favicon.png")
    link(rel="stylesheet", href="//cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href=base + "/style.css")

  body.____body_class
    header#header
      .container
        nav.navbar.navbar-light
          h1.visually-hidden 通路有家
          input#navbar-toggler.hide(type="checkbox")
          a.navbar-brand(href="{{home_url}}")
            img.no-lazy.logo(src=base + "/img/logo.png")

          #lang.dropdown
            button#lang-dropdown.btn.btn-outline-secondary.dropdown-toggle(
            type="button",
            data-toggle="dropdown",
            aria-haspopup="true",
            aria-expanded="false",
            ) 中文
            .dropdown-menu(aria-labelledby="lang-dropdown")
              .dropdown-item 中文
              .dropdown-item English

          label.navbar-toggler(
            for="navbar-toggler",
            data-toggle="collapse",
            data-target="#navbar",
            aria-controls="#navbar",
            aria-label="展开",
          )
            span.navbar-toggler-icon

          | {{{nav}}}
    <!--split-->
    block content

    <!--split-->
    include footer
